:root{
    --blue-base-color: #46a9fa;
    --black-font-color: #121212cf;
    --gray-font-color: #4d4d4dcf;
    --line-border-color: #a7a6a6cf;
    --light-gray-bg: #eaeaea;
    --btn-light-font-color: #f7f7f7;
    --btn-dark-font-color: #0e0e0e;
}

*{
    font-family: Arial, sans-serif;
    margin: 0px;
}

h1{
    font-size: 2rem;
    margin-top: 1em;
}

h2{
    font-size: 1.5rem;
}

p{
    font-size: 1rem;
    margin: 5px 0;
}


body{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    padding: 0;
    width: 80%;
    color: var(--black-font-color);
}

button{
    margin: 2px;
    width: fit-content;
    border-radius: 18px;
    border: none;
    font-size: 1.1rem;
    font-weight: bold;
    padding: 1rem 2rem;
    cursor: pointer;
    background-color: var(--blue-base-color);
    color: var(--btn-light-font-color);
}

button:hover{
    opacity: 0.7;
}

/*********************Overall Blog*********************/

#create-btn{
    align-self: flex-end;
}

#blog-description{
    font-size: 1.1rem;
    align-self: center;
    margin: 2rem;
    color: var(--gray-font-color);
}

#blog-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 0;
    margin-top: 0.8rem;
}

#blog-content li{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    list-style: none;
    padding: 2rem 2px;
    border-bottom: 1px solid var(--line-border-color);
}

#blog-content li:first-child{
    border-top: 1px solid var(--line-border-color);
}

/*********************Blog Items*********************/
.blog-item-content{
    align-self: flex-start;
    flex-grow: 2;
    max-width: 80%;
}

.blog-item-dates{
    margin: 13px 0px;
}

.blog-item-dates p{
    font-size: 0.95rem;
    color: var(--gray-font-color);
}

.blog-item-options{
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
    row-gap: 1rem;
    padding: 1rem 0rem;
    margin-left: 1rem;
}

.blog-item-options button{
    color: transparent;
    border: none;
    background-color: transparent;
    background-size: 100%;
    opacity: 0.6;
    height: 2.3rem;
    width: 2.3rem;
    padding: 0;
    overflow: hidden;
}

.blog-item-options button:hover{
    opacity: 0.3;
}

.update-btn{
    background-image: url(images/edit-icon.svg);
    margin-right: 1.5rem;
}

.delete-btn{
    background-image: url(images/delete-icon.svg);
}

/*********************Dialogs*********************/

#crud-dialog{
    border: none;
    border-radius: 10px;
    padding: 25px;
    box-shadow: -1px 3px 5px 1px var(--line-border-color);
    font-size: 1.2rem;
    margin: auto;
    max-width: 35rem;
}

#crud-dialog input, textarea{
    padding: 0.5rem;
    font-size: 1rem;
    width: 30rem;
    margin-bottom: 1rem;
}

#crud-dialog .cancel-dialog{
    margin-right: 0.5rem;
    background-color: var(--light-gray-bg);
    color: var(--btn-dark-font-color);
}

/*********************Dialogs w/o Input*********************/
.non-input-form{
    text-align: center;
}

.non-input-form p{
    font-size: 1.1rem;
    margin: 15px;
}
